In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('/Users/thispc/Desktop/Machine-learning/pandas/kaggle-dataset/Amazon Sale Report.csv')

/Users/thispc/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [34]:
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

# Question: How would you rank the orders in descending order of the Amount column? What method would you use to ensure that orders with the same Amount have the same rank?

In [46]:
df.dropna(inplace=True)
df['Amount_rank'] = df['Amount'].rank(method='dense').astype('int')

In [49]:
df.iloc[:,8:].head(3)

,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22,Amount_rank
49051,J0385-KR-M,kurta,M,B09YYNG98D,Shipped,1,INR,888.0,RAJAHMUNDRY,ANDHRA PRADESH,533126.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,414
49077,JNE3654-TP-XXL,Top,XXL,B09B3GWVJ9,Shipped,1,INR,371.0,CHENNAI,TAMIL NADU,600042.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,71
49081,JNE3798-KR-XS,Western Dress,XS,B09SDY7MHD,Shipped,1,INR,771.0,NEDUMANGAD,KERALA,695541.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,350

In [78]:
df.query('Amount_rank ==1').head(8).iloc[:,8:]

,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22,Amount_rank,Rank
49082,J0152-DR-L,Western Dress,L,B08V197XLZ,Shipped,1,INR,0.0,LEH,JAMMU & KASHMIR,194101.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,2.0
49299,SET278-KR-NP-S,Set,S,B0983F2ZJW,Shipped,1,INR,0.0,RAIPUR,CHHATTISGARH,492001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,2.0
49438,JNE3869-DR-L,Western Dress,L,B09RK63SGY,Shipped,1,INR,0.0,BENGALURU,KARNATAKA,560024.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,2.0
49513,J0117-TP-XXXL,Top,3XL,B08N498WCX,Shipped,1,INR,0.0,MUMBAI,MAHARASHTRA,400093.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,3.0
49579,J0189-TP-XL,Top,XL,B08N4TVYBJ,Shipped,1,INR,0.0,BENGALURU,KARNATAKA,560043.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,3.0
49626,J0339-DR-M,Western Dress,M,B09831YHGV,Shipped,1,INR,0.0,HYDERABAD,TELANGANA,500072.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,2.0
49780,SET339-KR-NP-S,Set,S,B09RT1WSR9,Shipped,1,INR,0.0,NOIDA,UTTAR PRADESH,201304.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,2.0
49795,JNE3905-DR-S,Western Dress,S,B09YYPQ7NW,Shipped,1,INR,0.0,BENGALURU,KARNATAKA,560099.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False,1,2.0

In [53]:
# Question: How would you rank the SKUs within each Category based on the Qty sold?

In [68]:
df.sort_values('Qty',ascending=False).groupby('Category').cumcount()+1

113350       1
113339       2
79899        3
120797       4
120770       5
          ...
72109     6135
72107     6136
72101     4438
72100     7004
128891    4439
Length: 19379, dtype: int64

In [55]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'Amount_rank'],
      dtype='object')

In [80]:
df.groupby('Category').agg({'Qty':'count'})

                Qty
Category
Blouse           83
Bottom          123
Ethnic Dress    156
Saree            11
Set            7004
Top            1427
Western Dress  4439
kurta          6136

In [73]:
df['Rank'] =df.groupby('Category')['Qty'].rank(method = 'dense',ascending= False)

In [75]:
df.groupby('Category')['Qty'].rank(method = 'dense',ascending= False)

49051     5.0
49077     3.0
49081     2.0
49082     2.0
49083     2.0
         ...
128872    2.0
128873    2.0
128874    2.0
128887    3.0
128891    2.0
Name: Qty, Length: 19379, dtype: float64

In [79]:
df.groupby('Category')['Qty'].sum()

Category
Blouse             83
Bottom            126
Ethnic Dress      159
Saree              12
Set              7027
Top              1435
Western Dress    4451
kurta            6179
Name: Qty, dtype: int64