In [7]:
import pandas as pd

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
csv
excel
dict
json
api
html
SQL

In [1]:
import pandas as pd

In [4]:
ls

3006.csv              Day-1.ipynb           demo.json
Booth Analysis .xlsx  coffee.csv            shubham-photo/

In [3]:
df = pd.read_csv('3006.csv')

In [36]:
emp = {
    'id':[1,2,3,4],
    'name':['shubham','rahul','234','54tr'],
    'sal':[589594,'cv','dfg','dfg']
     
}

In [37]:
df = pd.DataFrame(emp)

In [38]:
df

   id     name     sal
0   1  shubham  589594
1   2    rahul      cv
2   3      234     dfg
3   4     54tr     dfg

In [4]:
df = pd.read_excel('Booth Analysis .xlsx',sheet_name='Table 1')

In [5]:
df.head()

,Polling Booth N,Polling Booth N.1,Parent Constitu,Winner- 2014,1st Runner up o,Margin (%),Margin,Unnamed: 7,Total Voters,BJP - Votes,...,Margin %,Margin.1,Unnamed: 18,Total Voters.1,BJP- Votes,Unnamed: 21,BJP- % votes,INC- Votes.1,Unnamed: 24,INC- % Votes
0,1,Wadala,Ashti,BJP,NaN,0.204499,NaN,1.0,489,220,...,4.819277,NaN,24.0,498,NaN,225.0,45.180723,NaN,249.0,50.000000
1,2,Vardhapur,Ashti,BJP,NaN,4.000000,NaN,17.0,425,210,...,7.294118,NaN,31.0,425,NaN,221.0,52.000000,NaN,190.0,44.705882
2,3,Sattarapur,Ashti,BJP,NaN,5.204461,NaN,14.0,269,136,...,9.219858,NaN,26.0,282,NaN,122.0,43.262411,NaN,148.0,52.482270
3,4,Pilapur,Ashti,BJP,NaN,4.336735,NaN,17.0,392,196,...,7.333333,NaN,33.0,450,NaN,236.0,52.444444,NaN,203.0,45.111111
4,5,Belora (bu ),Ashti,INC,NaN,9.042553,NaN,68.0,752,322,...,5.779570,NaN,43.0,744,NaN,357.0,47.983871,NaN,314.0,42.204301

In [11]:
df = pd.read_excel('Booth Analysis .xlsx',sheet_name= 'Sheet1')

In [27]:
sheet_name = ['Table 1','Sheet1','Sheet2','Sheet3','Sheet4']   #should be dynamic

df_list = []


for sheet in sheet_name:
    df_list.append(pd.read_excel('Booth Analysis .xlsx',sheet_name=sheet))
    
final_df = pd.concat(df_list)

In [31]:
final_df.describe()

,Polling Booth N,1st Runner up,Margin (%),Margin,Unnamed: 7,Total Voters,BJP - Votes,BJP- % vote,INC- Votes,Unnamed: 12,...,32.42909988,274,33.78545006,1.909307876,16,838,401,47.85202864,385,45.94272076
count,39.000000,0.0,39.000000,28.000000,11.000000,39.000000,39.000000,39.000000,28.000000,11.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,20.000000,NaN,10.621682,58.178571,43.000000,547.128205,258.692308,48.052413,254.107143,223.818182,...,45.658675,306.500000,48.537797,6.786360,43.000000,643.000000,297.375000,46.261895,300.375000,45.894772
std,11.401754,NaN,12.388724,54.887126,32.811583,158.677790,70.580359,8.496873,89.716979,76.106265,...,5.535656,87.318792,6.173674,5.003193,29.784943,146.267856,74.670586,5.964181,96.739617,5.082993
min,1.000000,NaN,0.204499,2.000000,1.000000,237.000000,83.000000,29.856115,47.000000,122.000000,...,36.363636,182.000000,42.673522,2.635432,17.000000,423.000000,166.000000,38.961039,182.000000,39.393939
25%,10.500000,NaN,4.420284,19.500000,17.000000,416.000000,215.000000,43.959617,186.750000,184.000000,...,41.037414,253.000000,43.779981,3.266944,18.750000,566.250000,254.250000,41.637798,240.000000,42.958172
50%,20.000000,NaN,6.682578,46.000000,30.000000,584.000000,269.000000,48.387097,266.000000,200.000000,...,48.913906,309.500000,48.300688,5.001478,32.500000,649.500000,307.500000,46.706241,288.500000,44.936940
75%,29.500000,NaN,12.376258,65.250000,71.000000,689.000000,304.000000,50.338476,292.000000,261.500000,...,49.752475,355.250000,49.750912,7.968677,60.500000,759.000000,343.000000,49.121865,364.000000,47.428220
max,39.000000,NaN,70.606061,233.000000,103.000000,811.000000,389.000000,84.848485,450.000000,390.000000,...,50.119332,450.000000,61.983471,16.666667,93.000000,827.000000,389.000000,56.060606,434.000000,54.358974

In [33]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [3]:
from openpyxl import load_workbook

In [4]:
wb = load_workbook(filename='Booth Analysis .xlsx')
wb = wb.sheetnames

In [5]:
wb

['Table 1', 'Sheet1', 'Sheet2', 'Sheet3', 'Sheet4']

In [8]:
sheet_name = wb
df_list = []


for sheet in sheet_name:
    df_list.append(pd.read_excel('Booth Analysis .xlsx',sheet_name=sheet))
    
final_df = pd.concat(df_list)

In [10]:
final_df.head(5)

,Polling Booth N,Polling Booth N.1,Parent Constitu,Winner- 2014,1st Runner up,Margin (%),Margin,Unnamed: 7,Total Voters,BJP - Votes,...,Margin %,Margin.1,Unnamed: 18,Total Voters.1,BJP- Votes,Unnamed: 21,BJP- % votes,INC- Votes.1,Unnamed: 24,INC- % Votes
0,1,Wadala,Ashti,BJP,NaN,0.204499,NaN,1.0,489,220,...,4.819277,NaN,24.0,498,NaN,225.0,45.180723,NaN,249.0,50.000000
1,2,Vardhapur,Ashti,BJP,NaN,4.000000,NaN,17.0,425,210,...,7.294118,NaN,31.0,425,NaN,221.0,52.000000,NaN,190.0,44.705882
2,3,Sattarapur,Ashti,BJP,NaN,5.204461,NaN,14.0,269,136,...,9.219858,NaN,26.0,282,NaN,122.0,43.262411,NaN,148.0,52.482270
3,4,Pilapur,Ashti,BJP,NaN,4.336735,NaN,17.0,392,196,...,7.333333,NaN,33.0,450,NaN,236.0,52.444444,NaN,203.0,45.111111
4,5,Belora (bu ),Ashti,INC,NaN,9.042553,NaN,68.0,752,322,...,5.779570,NaN,43.0,744,NaN,357.0,47.983871,NaN,314.0,42.204301

In [3]:
import requests

In [54]:
data = requests.get('https://reqres.in/api/users?page=2').content
data

In [6]:
import json

In [57]:
dict_data = json.loads(data)
dict_data

In [59]:
output = pd.DataFrame(dict_data['data'])

In [62]:
output.tail(40)

,id,email,first_name,last_name,avatar
0,7,michael.lawson@reqres.in,Michael,Lawson,https://reqres.in/img/faces/7-image.jpg
1,8,lindsay.ferguson@reqres.in,Lindsay,Ferguson,https://reqres.in/img/faces/8-image.jpg
2,9,tobias.funke@reqres.in,Tobias,Funke,https://reqres.in/img/faces/9-image.jpg
3,10,byron.fields@reqres.in,Byron,Fields,https://reqres.in/img/faces/10-image.jpg
4,11,george.edwards@reqres.in,George,Edwards,https://reqres.in/img/faces/11-image.jpg
5,12,rachel.howell@reqres.in,Rachel,Howell,https://reqres.in/img/faces/12-image.jpg

In [63]:
data = requests.get('https://api.sampleapis.com/wines/reds').content
data

In [17]:
import json

In [65]:
data_dict =json.loads(data)
data_dict

In [66]:
df = pd.DataFrame(data_dict)

In [72]:
photo_col = df['image']

In [2]:
import os
import requests

folder_name = 'shubham-photo'

if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    
for i,url in enumerate(photo_col):
    response = requests.get(url)
    if response.status_code == 200:
        with open(os.path.join(folder_name, f'image_{i+1}.png'),'wb') as file:
            file.write(response.content)
         print(f'Successfully downloaded image_{i+1}.png')
              
    else:
        print(f"failed to download {url}")

In [42]:
from openpyxl import load_workbook

In [51]:
data = load_workbook('Booth Analysis .xlsx')

sheet_name = data.sheetnames

data = []

for sheet in sheet_name:
    temp = pd.read_excel('Booth Analysis .xlsx',sheet_name=sheet)
    data.append(temp)

In [52]:
df = pd.concat(data)

In [53]:
df

,Polling Booth N,Polling Booth N.1,Parent Constitu,Winner- 2014,1st Runner up,Margin (%),Margin,Unnamed: 7,Total Voters,BJP - Votes,...,Margin %,Margin.1,Unnamed: 18,Total Voters.1,BJP- Votes,Unnamed: 21,BJP- % votes,INC- Votes.1,Unnamed: 24,INC- % Votes
0,1,Wadala,Ashti,BJP,NaN,0.204499,NaN,1.0,489,220,...,4.819277,NaN,24.0,498,NaN,225.0,45.180723,NaN,249.0,50.000000
1,2,Vardhapur,Ashti,BJP,NaN,4.000000,NaN,17.0,425,210,...,7.294118,NaN,31.0,425,NaN,221.0,52.000000,NaN,190.0,44.705882
2,3,Sattarapur,Ashti,BJP,NaN,5.204461,NaN,14.0,269,136,...,9.219858,NaN,26.0,282,NaN,122.0,43.262411,NaN,148.0,52.482270
3,4,Pilapur,Ashti,BJP,NaN,4.336735,NaN,17.0,392,196,...,7.333333,NaN,33.0,450,NaN,236.0,52.444444,NaN,203.0,45.111111
4,5,Belora (bu ),Ashti,INC,NaN,9.042553,NaN,68.0,752,322,...,5.779570,NaN,43.0,744,NaN,357.0,47.983871,NaN,314.0,42.204301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,35,Peth Ahamadapu,Ashti,INC,NaN,25.619835,186.0,NaN,726,264,...,11.923077,93.0,NaN,780,331.0,NaN,42.435897,424.0,NaN,54.358974
5,36,Kinnhala,Ashti,INC,NaN,0.339559,2.0,NaN,589,285,...,3.327787,20.0,NaN,601,290.0,NaN,48.252912,270.0,NaN,44.925125
6,37,Dalpatpur,Ashti,BJP,NaN,1.565996,7.0,NaN,447,221,...,4.018913,17.0,NaN,423,166.0,NaN,39.243499,183.0,NaN,43.262411
7,38,Sirasoli,Ashti,BJP,NaN,7.326478,57.0,NaN,778,389,...,6.650544,55.0,NaN,827,379.0,NaN,45.828295,434.0,NaN,52.478839
8,39,Khadaki Booth N,Ashti,BJP,NaN,6.682578,28.0,NaN,419,210,...,16.666667,77.0,NaN,462,259.0,NaN,56.060606,182.0,NaN,39.393939

In [1]:
jsondata = '''{
    "winery": "Maselva",
    "wine": "Emporda 2012",
    "rating": {
        "average": "4.9",
        "reviews": "88 ratings"
    },
    "location": "Spain\n·\nEmpordà",
    "image": "https://images.vivino.com/thumbs/ApnIiXjcT5Kc33OHgNb9dA_375x500.jpg",
    "id": 1
}'''

with open('demo.json','w') as fp:
    fp.write(jsondata)

In [90]:
data = pd.read_json('demo.json')

In [91]:
data

,winery,wine,rating,location,image,id
average,Maselva,Emporda 2012,4.9,Spain\n·\nEmpordà,https://images.vivino.com/thumbs/ApnIiXjcT5Kc3...,1
reviews,Maselva,Emporda 2012,88 ratings,Spain\n·\nEmpordà,https://images.vivino.com/thumbs/ApnIiXjcT5Kc3...,1

In [92]:
ls

3006.csv              Untitled.ipynb        images/
Booth Analysis .xlsx  demo.json             shubham-photo/

In [93]:
data = pd.read_csv('3006.csv')

In [94]:
data

,Id,Created At,Unique Id,Username,Status,MobileNo
0,1,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9049675396
1,2,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9833248186
2,3,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9970044614
3,4,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9860007733
4,5,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9049613752
...,...,...,...,...,...,...
3057,3058,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9971586888
3058,3059,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,8827219265
3059,3060,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9935266466
3060,3061,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9045851221
3061,3062,10-04-2024 03:29,WP-88195426,demo11@gmail.com,pending,9045408260

In [106]:
data[12]

,Unnamed: 0,Country,Deaths / million,Deaths,Cases
0,NaN,World[a],867,7054080,775685948
1,NaN,Peru,6455,220975,4526977
2,NaN,Bulgaria,5728,38700,1329519
3,NaN,North Macedonia,5473,9977,350670
4,NaN,Bosnia and Herzegovina,5181,16390,403659
...,...,...,...,...,...
235,NaN,Niue,—,—,1074
236,NaN,Turkmenistan,—,0,0
237,NaN,Vatican City,—,0,26
238,NaN,Tokelau,—,0,80
239,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...

In [114]:
data = pd.read_json('https://api.sampleapis.com/coffee/hot')

HTTPError: HTTP Error 403: Forbidden

In [115]:
import requests


api_data = requests.get('https://api.sampleapis.com/coffee/hot').content

In [111]:
df = pd.read_json(api_data)

In [113]:
df.to_csv('coffee.csv')

In [116]:
df = pd.DataFrame(json.loads(api_data))

In [117]:
df

,title,description,ingredients,image,id
0,Black Coffee,Svart kaffe är så enkelt som det kan bli med m...,[Coffee],https://images.unsplash.com/photo-149431467190...,1
1,Latte,Som den mest populära kaffedrycken där ute bes...,"[Espresso, Ångad mjölk]",https://images.unsplash.com/photo-1561882468-9...,2
2,Caramel Latte,Om du gillar latte med en speciell smak kan ka...,"[Espresso, Ångad mjölk, Karamellsirap]",https://images.unsplash.com/photo-159939805406...,3
3,Cappuccino,Cappuccino är en latte som är gjord med mer sk...,"[Espresso, Ångad mjölk, Foam]",https://images.unsplash.com/photo-1557006021-b...,4
4,Americano,Med en liknande smak som svart kaffe består am...,"[Espresso, Hett vatten]",https://images.unsplash.com/photo-153200449149...,5
5,Espresso,Ett espressoskott kan serveras ensamt eller an...,[Espresso],https://images.unsplash.com/photo-157999235715...,6
6,Macchiato,Macchiaton är en annan espresso-baserad dryck ...,"[Espresso, Foam]",https://images.unsplash.com/photo-1557772611-7...,7
7,Mocha,För alla chokladälskare där ute kommer ni att ...,"[Espresso, Ångad mjölk, Choklad]",https://images.unsplash.com/photo-160726055077...,8
8,Hot Chocolate,Under kalla vinterdagar får en kopp varm chokl...,"[Choklad, Mjölk]",https://images.unsplash.com/photo-1542990253-0...,9
9,Chai Latte,Om du letar efter en smakfull varm dryck mitt ...,"[Te, Mjölk, Ingefära, Kardemumma, Kanel]",https://images.unsplash.com/photo-157889995210...,10
10,Matcha Latte,"Matcha latte är en grön, hälsosam kaffedryck m...","[Matcha-pulver, Mjölk, Socker*]",https://images.unsplash.com/photo-153625626395...,11
11,Seasonal Brew,Säsongs kaffe med olika smaktoner som karamell...,[Kaffe],https://images.unsplash.com/photo-161116245832...,12
12,Svart Te,Svart te föddes i Kina. Det är tillverkat av b...,[Te],https://images.unsplash.com/photo-157609276824...,13
13,Islatte,Iced latte är en kyld kaffedryck som görs geno...,"[Espresso, Mjölk, Is, Sirap]",https://images.unsplash.com/photo-151770155092...,14
14,Islatte Mocha,Iced latte Mocha är en kombination av latte oc...,"[Espresso, Is, Mjölk, Choklad ]",https://images.unsplash.com/photo-164264739107...,15
15,Frapino Caramel,Det är en blandad eller bättre sagt skakad kaf...,"[coffee, Is, Mjölk, Karamellsirap, Vispgrädde*...",https://images.unsplash.com/photo-166204710260...,16
16,Frapino Mocka,Ännu en berömd och utsökt kall dryck för dem s...,"[Coffee, Is, Mjölk, Cocoa, Vispgrädde*]",https://images.unsplash.com/photo-153037323921...,17
17,Apelsinjuice,Vi har inget att säga om vår nypressade apelsi...,"[Färska Apelsiner, Is]",https://images.unsplash.com/photo-160027188674...,18
18,Frozen Lemonade,Frozen lemonade är en uppfriskande sommardryck...,"[Citronsaft, Is, Socker*]",https://images.unsplash.com/photo-152337105410...,19
19,Lemonad,Var känd i Paris först och blev sedan mycket p...,"[Citronsaft, Kolsyrat vatten, Honung]",https://images.unsplash.com/photo-162126376492...,20

In [75]:
data = [['s','h','h','d','','5'],['sh','hu','bh','am','gd','5'],['shg','fhu','fbh','sam','dgd','5'],['sh','hu','bh','am','gd','5'],['sh','hu','bh','am','gd','5'],['sh','hu','bh','am','gd','5']]
column_name = ['a','b','c','d','e','f']
df = pd.DataFrame(columns=column_name,index= [1,2,3,4,5,6],data= data)
df

     a    b    c    d    e  f
1    s    h    h    d       5
2   sh   hu   bh   am   gd  5
3  shg  fhu  fbh  sam  dgd  5
4   sh   hu   bh   am   gd  5
5   sh   hu   bh   am   gd  5
6   sh   hu   bh   am   gd  5

In [40]:
temp = df['c'].copy()
df['c'] = df['e']
df['e'] = temp

In [98]:
data = {
    'A': [10, 20, 30, 40, 50],
    'B': [60, 70, 80, 90, 100],
    'C': [110, 120, 130, 140, 150]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

df

    A    B    C
a  10   60  110
b  20   70  120
c  30   80  130
d  40   90  140
e  50  100  150

In [104]:
dict_data = {'page': 2,
 'per_page': 6,
 'total': 12,
 'total_pages': 2,
            }
df = pd.DataFrame([dict_data])       #dict to Dataframe
df

   page  per_page  total  total_pages
0     2         6     12            2